@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Alegreya', 'Playfair Display', 'Open Sans', 'Lato', 'Roboto';
}

body {
    height: 100dvh;
    margin: 0;
    background-color: rgb(100, 10, 10);
}

p {
    font-size: 20px;
}

.janela-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(59, 58, 58, 0.550);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.janela {
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgb(140, 0, 0);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(59, 58, 58);
    color: white;
    cursor: pointer;
}

.texto {
    text-align: center;
    color: white;
}

.contagem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white;
    text-align: center;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
}

.item-contagem {
    background-color: rgb(59, 58, 58);
    border-radius: 25px;
    padding: 7px;
}

.item-contagem:first-child {
    grid-column: span 3; /* a div "ano" ocupa toda a linha para destacar mais que as outras */
}

.meses-main {
    justify-items: center;
    text-align: center;
    color: white;
}

.container-meses {
    max-width: 65%;
    min-width: 65%;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 20px 50px;
    background-color: rgb(59, 58, 58);
    border-radius: 25px;
}

.imagens-texto {
    background-color: rgb(59, 58, 58);
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 25px;
    align-items: center;   
    
}

.imagens-texto img {
    width: auto;
    height: 450px;
    border-radius: 25px;
}

.imagens-texto video {
    width: 600px;
    height: auto;
    border-radius: 25px;
}

.imagens-texto p {
    text-align: center;
    margin: 10px auto;
    max-width: 35%;
}

.botao-container {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.botao {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(140, 0, 0);
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: 250ms;
}

.botao:hover {
    background-color: rgb(120, 0, 0);
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(59, 58, 58);
}

footer p {
    font-size: 15px;
}

.cartinha {
    max-width: 65%;
    min-width: 65%;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    max-width: 50%;
    text-align: center;
    color: white;
    padding: 25px;
    background-color: rgb(59, 58, 58);
    border-radius: 25px;
}

@media (max-width: 600px) {

    .container-meses {
        padding: 20px 20px;
        max-width: 80%;
        min-width: 80%;
        margin-bottom: 50px;
        margin-top: 25px;
        background-color: rgb(59, 58, 58);
        border-radius: 25px;
    }

    .imagens-texto {
        background-color: rgb(59, 58, 58);
        margin-top: 40px;
        margin-bottom: 70px;
        border-radius: 25px;
        align-items: center;   
    }

    .imagens-texto img {
        width: 100%;
        height: 400px;
        border-radius: 25px;
    }

    .imagens-texto video {
        width: 100%;
        height: auto;     
        max-height: 400px;   
        border-radius: 25px;
    }

    .imagens-texto p {
        font-size: 18px;
        margin: 10px auto;
        max-width: 100%;
    }

    .container-inicio {
        max-width: 100%;
        text-align: center;
        border-radius: 25px;
        color: white;
    }

    .botao {
        font-size: 12px;
        border-radius: 25px;
        padding: 20px;
        background-color: rgb(140, 0, 0);
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    .cartinha {
        max-width: 80%;
        min-width: 80%;
        margin: 50px auto;
        padding: 20px 20px;
        text-align: center;
        color: white;
        background-color: rgb(59, 58, 58);
        border-radius: 25px;
    }

    .cartinha p {
        font-size: 18px;
    }

    .contagem {
        max-width: 90%;
    }

    #colagem {
        height: 200px;
        width: auto;
    }

    .texto {
        margin: 15px auto  ;
        max-width: 80%;
    }

    .janela {
        height: 75vh;
        min-width: 80%;
        max-width: 80%;
        padding: 20px;
    }
}








